.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  /* padding: 20px; */
  width: 400px; /* Adjust width as needed */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: relative;
  max-width: 600px; /* Adjust width as needed */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: small;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content select,
.modal-content input[type='date'],
.modal-content button {
  margin-bottom: 10px;
  width: 100%;
}

.modal-content .button-container {
  display: flex;
  justify-content: space-between;
}

.modal-content .button-container button {
  width: 48%;
}

.modal-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: black;
}

.modal-header{
  border-bottom: 2px solid black;
}